/* Android */

.white {
	fill: white;
}

.white.darkmode {
	fill: black;
}

button:not(.navbarbutton) {
	width: 100%;
	background: var(--secondarycolor);
	margin-top: 3em;
	border-radius: 1em;
	font: bold 2em Verdana, Geneva, sans-serif;
	color: var(--textcolor);
	border: 0;
}

svg {
	margin-top: 3em;
}

svg.text {
	color: white
}

input[type="text"], input[type="number"], select {
  color: var(--textcolor);
}